In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import warnings
warnings.simplefilter("ignore")

In [2]:
df=pd.read_csv("Data.csv")

In [3]:
df

    No  Weight  Length  Circumference Grade
0    1   486.5    14.0           27.0     A
1    2   388.4    12.0           26.0     A
2    3   493.7    12.0           26.5     A
3    4   342.5    10.0           24.3     A
4    5   401.5    11.0           25.0     A
..  ..     ...     ...            ...   ...
62  63   448.3    12.5           26.0     B
63  64   289.2    11.0           21.8     B
64  65   381.4    12.5           24.0     B
65  66   298.1    11.3           22.5     B
66  67   420.5    12.6           26.0     B

[67 rows x 5 columns]

In [4]:
df1=pd.read_csv("data-2023-01-18.csv")

In [5]:
df1

      No  Weight  Length  Circumference Grade
0      1   486.5    14.0           27.0     A
1      2   388.4    12.0           26.0     A
2      3   493.7    12.0           26.5     A
3      4   342.5    10.0           24.3     A
4      5   401.5    11.0           25.0     A
..   ...     ...     ...            ...   ...
100  101   296.0    11.7           22.2     C
101  102   306.1    11.9           22.7     C
102  103   240.0    10.2           20.8     C
103  104   268.4    10.7           20.9     C
104  105   275.3    10.8           21.2     C

[105 rows x 5 columns]

In [6]:
df2=df1.append(df)

In [7]:
df2.isnull().sum()

No               0
Weight           0
Length           0
Circumference    0
Grade            0
dtype: int64

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 67 entries, 0 to 66
Data columns (total 5 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   No             67 non-null     int64
 1   Weight         67 non-null     float64
 2   Length         67 non-null     float64
 3   Circumference  67 non-null     float64
 4   Grade          67 non-null     object
dtypes: float64(3), int64(1), object(1)
memory usage: 2.7+ KB

In [10]:
df2["Grade"].value_counts()

A    68
B    66
C    38
Name: Grade, dtype: int64

In [11]:
df2=df2.drop("No",axis=1)

In [12]:
df2

    Weight  Length  Circumference Grade
0    486.5    14.0           27.0     A
1    388.4    12.0           26.0     A
2    493.7    12.0           26.5     A
3    342.5    10.0           24.3     A
4    401.5    11.0           25.0     A
..     ...     ...            ...   ...
62   448.3    12.5           26.0     B
63   289.2    11.0           21.8     B
64   381.4    12.5           24.0     B
65   298.1    11.3           22.5     B
66   420.5    12.6           26.0     B

[172 rows x 4 columns]

In [13]:
d={"A":0,"B":1,"C":2}

In [14]:
df2["Grade"]=df2["Grade"].map(d)

In [16]:
df2

    Weight  Length  Circumference  Grade
0    486.5    14.0           27.0      0
1    388.4    12.0           26.0      0
2    493.7    12.0           26.5      0
3    342.5    10.0           24.3      0
4    401.5    11.0           25.0      0
..     ...     ...            ...    ...
62   448.3    12.5           26.0      1
63   289.2    11.0           21.8      1
64   381.4    12.5           24.0      1
65   298.1    11.3           22.5      1
66   420.5    12.6           26.0      1

[172 rows x 4 columns]

In [17]:
df2.corr()

                 Weight    Length  Circumference     Grade
Weight         1.000000  0.856623       0.926209 -0.661621
Length         0.856623  1.000000       0.820501 -0.590780
Circumference  0.926209  0.820501       1.000000 -0.822478
Grade         -0.661621 -0.590780      -0.822478  1.000000

In [21]:
df2.describe()

           Weight      Length  Circumference       Grade
count  172.000000  172.000000     172.000000  172.000000
mean   366.190116   12.213953      24.334302    0.825581
std     72.670520    1.250559       2.121717    0.767648
min    235.000000   10.000000      20.300000    0.000000
25%    305.550000   11.100000      22.500000    0.000000
50%    358.400000   12.350000      24.450000    1.000000
75%    422.100000   13.000000      26.200000    1.000000
max    571.900000   15.400000      29.900000    2.000000

In [22]:
abs(df2.corr()['Grade'].sort_values(ascending=False))

Grade            1.000000
Length           0.590780
Weight           0.661621
Circumference    0.822478
Name: Grade, dtype: float64

In [25]:
x=df2.drop('Grade',axis=1)
y=df2['Grade']

In [26]:
def classification(x,y):
    from sklearn.naive_bayes import GaussianNB
    from sklearn.naive_bayes import BernoulliNB
    from sklearn.svm import SVC
    from sklearn.neighbors import KNeighborsClassifier
    from sklearn.tree import DecisionTreeClassifier
    from sklearn.ensemble import RandomForestClassifier
    from sklearn.linear_model import LogisticRegression
    
    from sklearn.metrics import accuracy_score,precision_score,recall_score,f1_score
    from sklearn.metrics import confusion_matrix,classification_report
    from sklearn.model_selection import train_test_split
       
    x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=42)

    g=GaussianNB()
    b=BernoulliNB()
    KN=KNeighborsClassifier()
    SVC=SVC() 
    D=DecisionTreeClassifier()
    R=RandomForestClassifier()
    Log=LogisticRegression()
    
    algos=[g,b,KN,SVC,D,R,Log]
    algo_names=['GaussianNB','BernoulliNB','KNeighborsClassifier','SVC','DecisionTreeClassifier','RandomForestClassifier','LogisticRegression']
   
    accuracy_scored=[]

    
    for item in algos:
        item.fit(x_train,y_train)
        item.predict(x_test)
        
        accuracy_scored.append(accuracy_score(y_test,item.predict(x_test)))
       
    result=pd.DataFrame(columns=['accuracy_score'],index=algo_names)
    result['accuracy_score']=accuracy_scored
    return result.sort_values('accuracy_score',ascending=False)

In [27]:
classification(x,y)

                        accuracy_score
DecisionTreeClassifier        0.942857
RandomForestClassifier        0.942857
KNeighborsClassifier          0.600000
GaussianNB                    0.571429
SVC                           0.542857
LogisticRegression            0.514286
BernoulliNB                   0.342857